certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
decorator==4.2.1
ffn==0.3.3
future==0.16.0
idna==2.6
kiwisolver==1.0.1
lxml==4.2.1
matplotlib==2.2.2
numpy==1.14.2
pandas==0.22.0
pandas-datareader==0.6.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
tabulate==0.8.2
urllib3==1.22
wincertstore==0.2
wrapt==1.10.11
